body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #F8F9FA;
  font-family: 'DM Sans';
  font-style: normal;
}

.app-wrapper {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  padding: 116px 180px;
}

@media(max-width: 1280px) {
  .app-wrapper {
    padding: 48px 40px;
  }
}