.map-wrapper {
  height: 706px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url("../../assets/images/World_Map.png");
  margin-bottom: 24px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media(max-width: 1280px) {
 .map-wrapper {
  height: 610px;
  background-position: top;
 }
}